:root {
    --warlpiri: rgb(103, 194, 131);
    --jiliwiri: rgba(136, 62, 255, 1);
}
svg {
    font: 4px sans-serif;
}
rect {
    fill: lightblue;
    stroke:rgb(0, 0, 0)
}
circle {
    fill: pink;
    stroke: rgb(0, 0, 0)
}
.linage {
    fill: none;
    stroke: #000;
}
.covered {
    fill: none;
    opacity: 0;
}
.marriage {
    fill: none;
    stroke: rgb(196, 48, 48);
}
.selectedLine {
    background-color: rgb(255, 249, 192);
}
.bordered {
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
}
.highlighted,.highlightedJiliwiri {
    stroke-width: 3px;
    fill: none;
}
.highlighted {
    stroke: var(--warlpiri);
}
.highlightedJiliwiri {
    stroke: var(--jiliwiri);
    
}
.highlighted.highlightedJiliwiri {
    /* stroke: rgba(255, 0, 0, 0.5); */
    animation: blink 2s infinite;
}
@keyframes blink {
    0% {stroke: var(--warlpiri)}
    50% {stroke: var(--jiliwiri)}
    100% {stroke: var(--warlpiri)}
}
.empty {
    stroke:rgb(255, 0, 0);
    stroke-width: 1px;
    fill: none;
    opacity: 0.0;
}
.selected {
    fill: rgb(255, 249, 192)!important;
}
.selectedJiliwiri {
    fill: rgb(172, 180, 255)!important;
}
.ego,.ego.selected {
    fill: rgb(196, 255, 179)!important;

}
#egoText{
    font-size:10px;
}
.emphasis{
        font-style: italic;
}
p {
    padding:0;
    margin:0;
}
svg {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 100%;
}
#bottom_bar {
    display:flex;
}
#info {
    margin-left: 1rem;
}
/* .node {
    border:0.1rem solid blue;
    padding:0.1rem;
    margin:1rem;
} */